name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

    
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

          - name: Build Backend JAR with Maven
        run: mvn clean package -DskipTests
        working-directory: ./springboot/app

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./springboot/app
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest

      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./angular-app
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/angular-app:latest

      - name: Test Deployment
        run: docker-compose up -d